body
{
    background-color: #222;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #111;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 1.6em;
}

.nopadding
{
    padding:0px;
    margin:0px;
}
/* ------------------------------------------------ */

/* ----------- stylized ----------- */
.section
{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border: solid 5px #caeec2;/*#dbd4fb;*//*#b7ddf2;*/
    background: #fbfefd;/*#f8fcfe;*//*#ebf4fb;*/
}
.section h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
.section p{
    font-size:11px;
    color:#666666;
    margin-bottom:10px;
    border-bottom:solid 1px #dbd4fb;/*#b7ddf2;*/
    padding-bottom:5px;
}

.section label{
    display:block;
    font-weight:bold;
    float:left;
    font-size:11px;
    
}
.section input{
    float:left;
    font-size:12px;
    border:solid 1px #aacfe4;
    width:200px;

}

.section .details
{
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.section .details td 
{
  padding: 5px;   
  /*border: solid 1px #e8eef4;
  border-top: 0px;*/
  border-top: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-left: 0px solid #ff0000;
  border-bottom:1px solid #e8eef4;
  width:80%;
}

.section .details th
{
  padding: 5px;   
  border-top: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-left: 0px solid #ff0000;
  text-align: left;
  background-color:inherit;

}
/* ------------------------------------------------ */

#loading{
    position:relative;right:0px;margin-left:-20px;
    display:none;
    float:left;
}

/* Main MENU */
#menu_container
{
    
}
#menu_container ul
{
    padding-left: 0;
    margin-left: 0;
    background-color: #006104;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    margin:0px;
}

#menu_container ul li { display: inline; }

#menu_container ul li a
{
    padding: 0.5em 1.2em;
    background-color: #006104;
    color: #cecece;
    text-decoration: none;
    float: left;
    border-right: 0px solid #fff;
}

#menu_container ul li a:hover
{
    background-color: #149A09;
    color: #fff;
}

#menu_container ul li.current  a
{
    background-color: #148A09;
    color: #fff;
}



/* SUB MENU */

#submenu_container ul
{
    padding-left: 0;
    margin-left: 0;
    background-color: #148A09;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
}

#submenu_container ul li { display: inline;}

#submenu_container ul li a
{
    padding: 0.2em 0.6em;
    background-color: #148A09;
    color: #dedede;
    text-decoration: none;
    float: left;
    border-right: 0px solid #fff;
    margin:4px;
}

#submenu_container ul li a:hover
{
    background-color: #006104;
    color: #fff;
}

#submenu_container ul li.current  a
{
    background-color: #006104;
    color: #dedede;
    font-weight:bold;
}


/* LEFT MENU */
#left_menu
{
    padding: 0px;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height:auto;
    border:0px solid #f00;
    
}

#left_list li
{
    list-style: none;
    margin: 0;
    border-top: none;
    text-align: left;
}

#left_list li a
{
    display: block;
    padding: 0.25em 0.5em 0.25em 0.75em;
    text-decoration: none;
}

#left_list li a:link { color: #484; }
#left_list li a:visited { color: #676; }

#left_list li a:hover
{
    background: #caf2c2;
}

#left_list li.current a 
{
    background: #caeec2;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.2em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

h5.sub
{
    padding-top:20px;
    padding-bottom:10px;
}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

#header 
{
    color: #fff;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    height: 30px;
    font-size : 16px;
    font-weight: bold;
    
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}


table.timesheet
{
    border:1px solid #ffeeee;
}
table.timesheet td
{
   padding:2px;
   border:1px solid #334455;
}

table.timesheet th
{
   padding:2px;
   font-weight:bold;
   text-align:center;
   border:1px solid #334455;
}

/* code formatted by http://manoli.net/csharpformat/ */
.csharpcode, .csharpcode pre
{
    font-size: small;
    color: black;
    font-family: Consolas, "Courier New", Courier, Monospace;
    background-color: #ffffff;
    /*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #006080; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
    background-color: #f4f4f4;
    width: 100%;
    margin: 0em;
}

.csharpcode .lnum { color: #606060; }
